<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <a class="navbar-brand" href="index.ejs"
          ><i class="flaticon-dog-8"></i><span>DoggyDo</span></a
        >
        <p class="mt-3">
          Cras enim wisi elit aenean, amet eros curabitur. Wisi ad eget ipsum
          metus sociis Cras enim wisi elit aenean.
        </p>
      </div>
      <!--/ col-lg -->
      <div class="col-lg-3">
        <h6><i class="fas fa-envelope margin-icon"></i>Contact Us</h6>
        <ul class="list-unstyled">
          <li>9004429573</li>
          <li>
            <a href="mailto:doggydoadoption.com">doggydoadoption@gmail.com</a>
          </li>
          <li>Manipal University Jaipur</li>
        </ul>
        <!--/ul -->
      </div>
      <!--/ col-lg -->
      <div class="col-lg-3">
        <h6><i class="far fa-clock margin-icon"></i>Working Hours</h6>
        <ul class="list-unstyled">
          <li>Open 11am - 6pm</li>
          <li>Holidays - Closed</li>
          <li>Weekends - Closed</li>
        </ul>
        <!--/ul -->
      </div>
      <!--/ col-lg -->
    </div>
    <!--/ row-->
    <div class="row">
      <div class="credits col-sm-12">
        <p>
          Copyright 2022 / Designed by
          <a>Tushar and Tarushi</a>
        </p>
      </div>
    </div>
    <!--/ row -->
  </div>
  <!--/ container -->
  <!-- Go To Top Link -->
  <div class="page-scroll hidden-sm hidden-xs">
    <a href="#top" class="back-to-top"><i class="fa fa-angle-up"></i></a>
  </div>
  <!--/page-scroll-->
</footer>
<!--/ footer-->
