<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- page title -->
    <title>DoggyDo</title>
    <!--[if lt IE 9]>
      <script src="js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700"
      rel="stylesheet"
    />
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link
      href="fonts/fontawesome/fontawesome-all.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic"
    />
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="apple-icon-114x114.png"
    />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- plugins CSS -->
    <link href="css/plugins.css" rel="stylesheet" />
    <!-- Colors CSS -->
    <link href="styles/maincolors.css" rel="stylesheet" />
    <!-- LayerSlider CSS -->
    <link rel="stylesheet" href="vendor/layerslider/css/layerslider.css" />
  </head>
</html>
